@use '/src/styles/common';

:host {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  color: var(--primary-text-color);
  max-width: 390px;

  h3 {
    margin-bottom: 0;
  }

  padding: 24px 16px;
  min-width: 156px;
  min-height: 64px;

  .setting-icon {
    grid-column: 1 / 2;
  }

  .setting-label {
    grid-column: 2 / 3;
  }

  .click-indicator {
    grid-column: 3 / 4;
  }

  &:hover {
    cursor: pointer;
  }

  @include common.default-item(false);

}
