.handling-form {
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.history,
.quantity,
.type,
.product-subtitle {
  grid-column: 1 / -1;
}

.product-subtitle {
  h4 {
    margin: 0;
  }
}
