<!--Vendas-->
<lpdv-fv-bottom-nav-item icon="shopping_cart" label="Vendas" routerLink="/sales"
                         routerLinkActive="active-item"></lpdv-fv-bottom-nav-item>

<!--Orçamentos-->
<lpdv-fv-bottom-nav-item icon="request_quote" label="Orçamentos" routerLink="/quotes"
                         routerLinkActive="active-item"></lpdv-fv-bottom-nav-item>

<!--Produtos-->
<lpdv-fv-bottom-nav-item icon="inventory_2" label="Produtos" routerLink="/products"
                         routerLinkActive="active-item"></lpdv-fv-bottom-nav-item>

<!--Clientes-->
<lpdv-fv-bottom-nav-item icon="account_circle" label="Clientes" routerLink="/customers"
                         routerLinkActive="active-item"></lpdv-fv-bottom-nav-item>
