.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 24px;
  padding: 0 16px 16px;
}

.password-reset-card {
  border-radius: 10px;
  width: 100%;
  padding: 24px;
  background-color: var(--card-background-color);
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 16px;
}

.password-change-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  align-self: end;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.settings {
  gap: 24px;
}

@media only screen and (min-width: 600px) {

  .cards-container {
    padding: 0 24px 24px;
  }

  .icon-container {
    grid-row: 1 / -1;
  }

}

@media only screen and (min-width: 1200px) {

  .cards-container {
    justify-content: center;
    grid-template-columns: 600px;
  }

  .sellers {
    grid-column: 1 / 2;
  }

}
