<div class="cards-container">

  <div class="password-reset-card sellers">

    <lpdv-settings-title icon="assignment_ind"
                         title="Alterar senha dos vendedores"
                         subtitle="Altere a senha de acesso dos vendedores que utilizam o sistema"></lpdv-settings-title>

    <form class="password-change-form" [formGroup]="sellersPasswordForm" (ngSubmit)="changeSellerPassword()">

      <!-- Nova senha -->
      <dc-form-field>

        <dc-label>Nova senha</dc-label>

        <input dcInput type="password" formControlName="password" autocomplete="new-seller-password">

        <dc-error
          *ngIf="sellersPasswordForm.hasError('required', ['password']) && !sellersPasswordForm.hasError('pattern', ['password'])">
          Informe a nova senha para os vendedores
        </dc-error>

        <dc-error *ngIf="sellersPasswordForm.get('password').hasError('pattern')">
          A nova senha ter 8 caracteres, com ao menos uma letra e um número
        </dc-error>

      </dc-form-field>

      <!-- Confirmação nova senha -->
      <dc-form-field>

        <dc-label>Confirme a nova senha dos vendedores</dc-label>

        <input dcInput type="password" formControlName="passwordMatch" autocomplete="new-seller-password-confirmation">

        <dc-error *ngIf="sellersPasswordForm.hasError('required', ['passwordMatch'])">Confirme a nova senha dos
          vendedores
        </dc-error>

        <dc-error
          *ngIf="!sellersPasswordForm.hasError('required', ['passwordMatch']) && sellersPasswordForm.hasError('match', ['passwordMatch'])">
          As senhas não são iguais
        </dc-error>

      </dc-form-field>

      <button type="submit" color="primary" dc-flat-button
              [disabled]="sellersPasswordForm.invalid || sellersPasswordForm.disabled">Alterar senha dos vendedores
      </button>

    </form>

  </div>

</div>
