:host {
  display: grid;
}

.sales-report-form {
  display: grid;
  column-gap: 16px;
  row-gap: 8px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.report-checkboxes {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
