@use "src/styles/common";

.resources-form {
  @include common.setting-form;
  gap: 24px;
}

@media only screen and (min-width: 960px) {

  .resources-form {

    .scale, .show-product-image {
      grid-column: span 3;
      align-self: start;
    }

  }

}
