*, *:before, *:after {
  box-sizing: border-box;
  touch-action: manipulation;
}

/** Text area somente vertical */
textarea {
  resize: vertical;
  line-height: 1.6rem;

  &::-webkit-scrollbar {
    display: none;
  }

}

/** Remove as setas dos inputs do tipo number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/** Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
