:host {

  transition: color .1s ease, background-color .2s ease;
  border-radius: 2px;
  user-select: none;

  &:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    cursor: pointer;
  }

  .category-item {
    display: inherit;
    padding: 0 16px;
    min-height: 48px;
    line-height: 48px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}
