<form [formGroup]="filterForm">

  <div class="sidemenu-header">
    <h3>Filtrar clientes</h3>
    <button dc-icon-button type="button" dcSideMenuClose dcTooltip="Fechar">
      <dc-icon>close</dc-icon>
    </button>
  </div>

  <p class="mb-12">Informe os parâmetros para busca</p>

  <!-- Nome -->
  <dc-form-field class="w-100">

    <dc-label>Nome, nome fantasia ou apelido, ou telefone</dc-label>

    <input cdkFocusInitial lpdvSelectOnFocus dcInput type="text" formControlName="name" autocomplete="off" maxlength="200">

  </dc-form-field>

  <!-- Documento -->
  <dc-form-field class="w-100">

    <dc-label>Documento</dc-label>

    <input dcInput type="text" formControlName="document" autocomplete="off" dcDocumentsMask>

  </dc-form-field>

  <!-- Nome -->
  <dc-form-field class="w-100">

    <dc-label>Cidade</dc-label>

    <input dcInput type="text" formControlName="city" autocomplete="off" maxlength="200">

  </dc-form-field>

  <div class="side-menu-buttons">

    <button dc-stroked-button type="button" color="warn" (click)="filterCustomers(true)">Limpar filtro</button>

    <button dc-flat-button type="submit" color="primary" (click)="filterCustomers()"
      [disabled]="filterForm.disabled || filterForm.invalid">Filtrar clientes</button>

  </div>

</form>
