<form [formGroup]="discountForm">

  <div class="sidemenu-header">
    <h3>Desconto</h3>
    <button dc-icon-button type="button" [dcSideMenuClose]="undefined" dcTooltip="Fechar">
      <dc-icon>close</dc-icon>
    </button>
  </div>

  <div class="discount-form">

    <div class="discount-subtitle">

      <h4>Total da venda</h4>
      <h1>{{saleTotal | currency:'BRL'}}</h1>

    </div>

    <!-- Desconto -->
    <label>Tipo do desconto</label>
    <dc-radio-group class="discount-types" formControlName="type" (change)="typeChange($event)">

      <dc-radio-button [value]="true">Valor</dc-radio-button>
      <dc-radio-button [value]="false">Porcentagem</dc-radio-button>

    </dc-radio-group>

    <!-- Valor do produto -->
    <dc-form-field>

      <dc-label>Desconto</dc-label>

      <input dcInput #discountInput lpdvSelectOnFocus lpdvAutoFocus type="text" dcNumbersMask decimalPlaces="2" formControlName="discount"
             autocomplete="off">

      <span dcPrefix>{{discountForm.get('type').value ? 'R$' : '%'}}</span>

      <dc-hint [ngSwitch]="discountForm.get('type').value">
        <span *ngSwitchCase="true">Desconto: {{calculatedDiscount | async | number:'1.2-2'}}%</span>
        <span *ngSwitchDefault>Desconto: {{calculatedDiscount | async | currency}}</span>
      </dc-hint>

      <dc-error *ngIf="discountForm.hasError('invalidNumber', ['discount'])">Valor inválido</dc-error>

    </dc-form-field>

    <div class="side-menu-buttons single-button">

      <button dc-flat-button type="submit" color="primary" (click)="applyDiscount()"
              [disabled]="discountForm.disabled">Aplicar
        desconto
      </button>

    </div>

  </div>

</form>
